ul{
 text-align: center; 
 list-style-type: none;
 line-height: 1.5;
 
}

h1{
  text-align: center;
  color: red;
}
h2{
  text-align: center;
}
img{
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
 
  
}
div{
  text-align: center;
}

p
{
 text-align: right;
 font-size: 2rem;
 margin-right: 450px;
 
}
.credit-debit
{
  font-style: italic;
  line-height: 2.5;

}
.form-field{
  
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

*{
  background-color: beige;
}


